.dayLabel {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Helvetica";
}

.scrollPaneCalendar {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scrollPaneCalendar .thumb {
    -fx-background-color: "#006abc";
    -fx-background-insets: 2;
    -fx-pref-width: 1;
    -fx-background-radius: 5;
}

.calendarTooltip {
    -fx-padding: 10;
    -fx-font: 14px 'Helvetica';
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
}

.calendarComboBox {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.calendarMainTextfield {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 8 15 8 15;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.eventButton {
    -fx-background-color: #006abc;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-padding: 8 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
}