.leftPane {
   /* -fx-background-color: "#a1add4";*/
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, -fx-secondary-color, -fx-primary-color);
}

.mainPane {
    -fx-background-color: -fx-main-color;
}

.messageConversationSearchedBox {
    /*-fx-background-color: "#b6d1ff";*/
    -fx-background-color: -fx-third-color;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.contentMessage, .infoLabelSearch {
    -fx-text-fill: -fx-first-text-color;
}

.messageConversationSearchedList, .messageConversationSearched {
    -fx-background-color: -fx-second-color !important;
    -fx-border-width: 0;
}

.messageConversationSearched {
    -fx-cursor: hand;
}

.topPane {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: transparent transparent -fx-third-color transparent; /* top, right, bottom, left */
    -fx-border-width: 0 0 1 0;
}

.searchRightPane {
    -fx-border-color: transparent transparent transparent -fx-third-color;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: -fx-second-color;
}

.searchField {
    /*-fx-background-color: "#b6d1ff";*/
    -fx-background-color: -fx-third-color;
    -fx-min-width: 200;
    -fx-pref-width: 400;
    -fx-max-width: 400;
    -fx-alignment: CENTER;
    -fx-padding: 5;
    -fx-transition: 1s;
}

.searchField:focused {
    -fx-background-color: "#d8d8d8";
}

.searchLabel {
    -fx-background-color: -fx-second-color;
    -fx-pref-width: 400;
    -fx-max-width: 400;
    -fx-min-width: 200;
    -fx-padding: 1;
    -fx-margin: 2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Helvetica";
    -fx-cursor: hand;
}

.discussionBox {
    -fx-cursor: hand;
}

.titled-pane > .title {
    -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button > * {
    -fx-visible: none;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-shape: null;
}

.titled-pane > .title > .text {
    -fx-fill: -fx-first-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.displayNamesLabel {
    -fx-text-fill: -fx-first-text-color;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.conversationNameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-first-text-color;
}

.conversationLastMessageLabel {
    /*-fx-text-fill: rgba(255, 255, 255, 0.6);*/
    -fx-text-fill: white;
}

.discussionBox {
    -fx-padding: 0;
    -fx-margin: 0;
}

.conversationClicked {
    -fx-background-color: rgba(182, 209, 255, 0.5);
}

.conversationClicked Label {
    -fx-text-fill: -fx-first-text-color;
}

.numberUnreadLabel {
    -fx-text-fill: white;
}

.conversationClicked .dateDiscussionLabel {
    -fx-text-fill: white;
}

.searchLabel:hover {
    -fx-background-color: "#b6d1ff";
}

.topConversationBox {
    -fx-border-color: transparent transparent -fx-primary-color transparent; /* top, right, bottom, left */
    -fx-border-width: 0 0 1px 0;
}

.topConversationLabels {
    -fx-font-size: 16px;
    -fx-font-family: "Helvetica";
}

.topConversationLabels Label {
    -fx-text-fill: -fx-first-text-color;
}

.labelSender, .labelText {
    -fx-font-size: 16px;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
}

.labelSender {
    -fx-font-weight: bold;
}

.dateDiscussion {
    -fx-border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
    -fx-border-width: 2px;
    -fx-border-style: dotted;
}

.dateDiscussionLabel {
    -fx-text-fill: rgba(255, 255, 255, 0.6);
}

.senderMessageBox {
    -fx-background-color: -fx-primary-color;
}

.senderMessageBox Label {
    -fx-text-fill: white;
}

.myMessageBox, .senderMessageBox {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5 10 5 10;
}

#sendButton {
    -fx-cursor: hand;
}

.conversationScrollPane {
    -fx-background-color: -fx-main-color;
}

.sendMessageField {
    /*-fx-background-color: "#b6d1ff";*/
    -fx-background-color: -fx-third-color;
    -fx-control-inner-background: -fx-third-color;
    -fx-border-color: -fx-second-color;
    -fx-border-width: 2;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 600px;
    -fx-min-width: 300px;
    -fx-margin: 10 10 10 10;
}

.searchMessages {
    /*-fx-background-color: "#b6d1ff";*/
    -fx-background-color: -fx-main-color;
    -fx-min-width: 220px;
    -fx-max-width: 220px;
    -fx-pref-width: 220px;
}

.conversationMessageText {
    -fx-font-size: 16px;
}

.scrollBar {
    -fx-background-color: transparent; /* remove default background */
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: -fx-main-color;
}

.scrollBar:vertical .track {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-main-color;
    -fx-border-radius: 1em;
}

.track-background {
    -fx-background-color: -fx-main-color;
}

.scrollBar .thumb {
    -fx-background-color: -fx-primary-color;
    -fx-background-insets: 2;
    -fx-pref-width: 1;
    -fx-background-radius: 5;
}

.labelPopup {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.textfieldPopup {
    -fx-font-size: 16px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.vboxPopup {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 4);
}

.split-pane, .split-pane-divider {
    -fx-padding: 0;
}

.notificationCircle {
    -fx-fill: -fx-tertiary-color;
}

.dotsVerticalMenu {
    -fx-background-color: -fx-third-color;
    -fx-background-radius: 5;
    -fx-font-size: 15;
    -fx-padding: 5;
}

.dotsVerticalMenu Label {
    -fx-text-fill: -fx-first-text-color;
}

#threeDots {
    -fx-cursor: hand;
}